<!DOCTYPE html>
<html lang="en">
    <head>
         <!--Meta Information-->
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="author" content="Majeed Malik">

         <title>{{ title }}</title>

        <!--Import of Stylecheets-->
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/semantic_ui.css">

        <!--Import of scripts-->
        <script src="../static/jquery-3.4.0.min.js"></script>
        <script type="text/javascript" src="../static/semantic_ui.js"></script>
    </head>
    <body>
        <div class="ui grid">
            <div class="sixteen wide column spacer"></div>
            <div class="sixteen wide column">
                <h2 class="ui center aligned icon header">
                    <i class="circular bookmark icon"></i>
                    Read - IT
                </h2>
            </div>
            <div class="sixteen wide column handlepaadding">
                <!-- Page based Content-->
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>